* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  gap:12px;
}

h1 {
  font-size: 40px;
}

#gameBoard, #controlPanel, #inputForm, .nameInputs {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

#inputForm.hidden,
.nameInputs.hidden,
.chooseSign.hidden {
  display: none;
}

.playMode {
  display: flex;
  justify-content: space-between;
  width: 100%;  
}

.playMode label {
  border: 1px solid gray;
  text-align: center;
  padding: 5px 11px;
}

.playMode label:not(.playMode label:last-child),
.chooseSign label:not(.chooseSign label:last-child) {
  border-right: none;
}

.playMode input[type="radio"],
.chooseSign input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.playMode label:hover,
.chooseSign label:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.chooseSign {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.chooseSign > div {
  display: flex;
  width: 100%;  
}

.chooseSign label {
  border: 1px solid gray;
  text-align: center;
  padding: 5px 11px;
}

.userInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.userInput input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.error {
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 0.75em;
  color: red;
}

#display {
  text-align: center;
  background-color: rgb(146, 146, 146);
  color: white;
  padding: 12px;
  width: 100%;
}

#gamePad {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  background-color: lightgray;
}

#gamePad.activated {
  background-color: rgb(146, 146, 146);;
}

#gamePad > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: #fff;
  min-width: 50px;
  min-height: 50px;
}

#submitPlayerName {
  align-self: end;
}

#buttonsPanel button, #submitPlayerName, #submitSIgnChoise {
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
}

#buttonsPanel button:hover, #submitPlayerName:hover, #submitSIgnChoise:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#buttonsPanel button:active, #submitPlayerName:active, #submitSIgnChoise:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.normal {
  background-color: #fff;
}

.hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}