* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  gap:12px;
}

#gameBoard {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#display {
  text-align: center;
}

#gamePad {
  display: grid;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 3px;
}

#gamePad > div {
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#resetButton {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 1px solid lightgray;
}

#resetButton:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#resetButton:active {
  background-color: rgba(0, 0, 0, 0.1);
}